@model PagedItems<UserListItemVm>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin panel";
}

@section scripts {
    <script src="~/Scripts/Include/pagination.js"></script>
    <script src="~/Scripts/Include/user-list.js"></script>
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>User id</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Data)
        {
            <tr>
                <td class="id-col">@user.Id</td>
                <td class="name-col">@user.Name</td>
                <td class="roles-col">@string.Join(",", user.CurrentRoles)</td>
                <td class="action-col">
                    <select data-user-name="@user.Name" class="form-control add-role-select">
                        @foreach (var role in user.AvailableRoles)
                        {
                            <option value="@role">@role</option>
                        }
                    </select>
                    <button type="button" class="btn btn-success add-user-role">Add role</button>

                    <select data-user-name="@user.Name" class="form-control remove-role-select">
                        @foreach (var role in user.CurrentRoles)
                        {
                            <option value="@role">@role</option>
                        }
                    </select>
                    <button type="button" class="btn btn-danger remove-user-role">Remove role</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", Model.PageInfo)