@model DisplayGameVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-100 pb-100">
    <div class="jumbotron">
        <div class="row">
            @if (Model.AvatarId != null)
            {
                <img src="@Url.Action("GetImageById", "Image", new { id = Model.AvatarId.Value })" alt="Alternate Text" class="game-img-preview img-thumbnail" />
            }
            else
            {
                <img src="http://placehold.it/600x400", alt="AlternateText" class="game-img-preview img-thumbnail" />
            }
            <div class="game-props">
                <header>@Model.Name</header>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Price)</dt>
                    <dd>@Html.DisplayFor(model => model.Price)</dd>

                    <dt>@Html.DisplayNameFor(model => model.ReleaseDate)</dt>
                    <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Genres)</dt>
                    <dd>@Html.DisplayFor(model => model.Genres)</dd>
                </dl>
                @Html.ActionLink("Edit", "EditGame", "Admin", new { id = Model.Id }, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-default">Remove</button>
            </div>
        </div>
        <div class="row mt-20 game-description">
            <header>Description</header>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="row mt-40">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#min-requirements" data-toggle="tab">Minimal system requirements</a></li>
                <li><a href="#rec-requirements" data-toggle="tab">Recommended system requirememts</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active system-requirements" id="min-requirements">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.Processor)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.Processor)</dd>

                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.Memory)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.Memory)</dd>

                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.OperationSystem)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.OperationSystem)</dd>

                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.Graphics)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.Graphics)</dd>

                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.Storage)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.Storage)</dd>

                        <dt>@Html.DisplayNameFor(model => model.MinimalSystemRequirements.DirectX)</dt>
                        <dd>@Html.DisplayFor(model => model.MinimalSystemRequirements.DirectX)</dd>
                    </dl>
                </div>
                <div class="tab-pane system-requirements" id="rec-requirements">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.Processor)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.Processor)</dd>

                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.Memory)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.Memory)</dd>

                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.OperationSystem)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.OperationSystem)</dd>

                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.Graphics)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.Graphics)</dd>

                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.Storage)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.Storage)</dd>

                        <dt>@Html.DisplayNameFor(model => model.RecommendedSystemRequirements.DirectX)</dt>
                        <dd>@Html.DisplayFor(model => model.RecommendedSystemRequirements.DirectX)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>