@model PageInfo

<div class="row text-center">
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination">
            <li><a class="page-link" data-page="1"><<</a></li>
            @for (int i = 0; i < Model.PageLinksCount; i++, Model.StartIndex++)
            {
                if (Model.StartIndex == Model.CurrentPage)
                {
                    <li class="active"><a class="page-link" data-page="@Model.StartIndex">@Model.StartIndex</a></li>
                }
                else
                {
                    <li><a class="page-link" data-page="@Model.StartIndex">@Model.StartIndex</a></li>
                }
            }
            <li><a class="page-link" data-page="@Model.TotalPages">>></a></li>
        </ul>
    }
</div>
